<div class="row">
    {{!-- nav sidebar --}}
    <nav class="nav flex-column col-4 ml-4 mt-2 lite-blu">
        <ul class="nav nav-pills flex-column">
            {{#each savedTag as |tags|}}
            {{!-- This is the sidebar however, this may need to be modified based on what content goes here. Atm, its setup for a list of links to either specific group forums or a friends list. NOTE: savedTag doesnt exist rn --}}
                <li class="nav-item">
                    <a class="nav-link" href="#">/{{tags.tagName}} </a>
                </li>
            {{/each}}
            
        </ul>
    </nav>

    {{!-- welcome card --}}
    <div class="flex-column col mt-2 mr-2">
        <div class="card mid-blu text-white">
            <div class="card-body">
                <h5 class="card-title">Hello!</h5>
                <p class="card-text">Welcome to your homepage, {{username}}!</p>
                {{!-- future, add functionality to button below for small confetti celebration --}}
                {{!-- <a href="#" class="btn btn-primary">Celebrate</a> --}}
            </div>
        </div>

        {{#each savedTag as |tags|}}
            {{!-- suggested posts card --}}
            <div class="card mt-2 not-blu">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="post-link">{{this.tagName}}</a> | <a href="#" class="post-link">{{posts.title}}</a></h5>
                    <p class="card-text">{{posts.body}}</p>
                    <div class="row">
                        <a href="#" class="col btn btn-primary ml-3 mr-1">Like</a>
                        <a href="#" class="col btn btn-primary ml-1 mr-3">Dislike</a>
                    </div>

                    <div class="input-group mb-3 mt-2">
                    <textarea class="form-control" placeholder="Add Comment" aria-label="Comment" aria-describedby="basic-addon2"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary bg-primary text-white" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>
</div> 

{{!-- 
{{#each posts}}
  <div>
    <h2>{{title}}</h2>
    <p>Author: {{author.name}}</p>
    <p>Tags:
      {{#each tags}}
        {{#each this}} (May have to target the "this" of the tag first)
          {{this.name}}
        {{/each}}
      {{/each}}
    </p>
    <p>{{body}}</p>
  </div>
{{/each}}
 --}}