<!-- HOMEPAGE STUFF -->
<div class="row">
  <!-- nav sidebar -->
  <nav class="card nav flex-column col-4 lite-blu my-nav">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <h5 class="card-title ml-3 mt-3">Current Posts</h5>
      </li>
      {{#each posts as |post| }}
      <li class="nav-item">
        <a class="nav-link" href="/post/{{post.id}}">{{post.name}}</a>
      </li>
      {{/each}}           
    </ul>
  </nav>

  <!-- welcome card -->
  <div class="flex-column col">
    <div class="flex-column col">
      <div class="row post card mid-blu text-white">
        <div class="card-body p-4 welcome-card">
          <h5 class="card-title">Hello!</h5>
          <p class="card-text welcome-text">Welcome to Endorfins!
          This website was designed with you in mind. How do we know? Hmmmmm... Probably because you clicked and wanted to see more. Endorfins is a way for people to connect with shared interests and thoughts. Share with family, friends, strangers or strangers that become family and friends. You can read blog posts about hobbies and interests that you currently enjoy or are getting into. Want to read about the best sandwhich in San Diego look no further. And before you go... Dont forget to sign up. We hope you enjoy!</p>
          <ul class="card-text">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/joaquingodina0">Joaquin Godina</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/BradHamm">Braden Hamm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/itsa-me-dea">Nhadea Lensky</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/neta2393">Benethea Hardin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Loop over each object in the posts array to create list of all posts -->
    {{#each posts as |post| }}
    <div class="flex-column col">
      <div class="row post card not-blu">
        <div class="col-md-5 card-body p-3">
          <h2>
            <i class="fa-solid fa-code"></i>
            <a href="/post/{{post.id}}">{{post.name}}</a>
          </h2>
          <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
        </div>
        <div class="col-md-7">
          <p>
            {{post.description}}
          </p>
        </div>
      </div>
    </div>
    {{/each}}          
  </div>
</div>
